---
import Bookmark from '../ui/buttons/Bookmark.astro'
import SocialShare from '../ui/buttons/SocialShare.astro'
import { type ScheduleProps } from '@/api/models/Commons.types'

interface Props {
    postId: string
    likes: number
    title: string
    isOpen: boolean
    schedules: ScheduleProps[]
}


const { postId, likes, title, schedules, isOpen } = Astro.props
const date = new Date()
const day = date.getDay()
const openTag = isOpen ? "Abierto" : "Cerrado"
const classAnimation= 'group max-h-6 overflow-hidden transition-all duration-500 ease-in-out open:max-h-96'
const classStyle = 'box-content cursor-pointer border border-gray-300 rounded-md p-4 w-full shadow-lg'
---

<aside class="flex-none sticky top-[120px] h-full">
    <details open class={`hidden md:block  ${classAnimation} ${classStyle}`}>
        <summary class="flex dark:text-neutral-300 list-none bg-gray-200">
            <div>👉</div>
            {isOpen ? "🟢" : "🔴" } {openTag}
        </summary>
        { schedules.map(s => (
            <p class="py-3 dark:text-neutral-300 border-b border-neutral-300">{ s.day } - { s.schedule }</p>
        )) }
    </details>
    <div class="mt-10 md:mt-10 mx-auto grid max-w-screen-lg gap-y-5 sm:flex sm:items-center sm:justify-between sm:gap-y-0">
        <div class="flex items-center gap-x-1.5 m-auto">
            <Bookmark likes={likes} postId={postId} />
            <div class="mx-3 block h-4 border-e border-neutral-400 dark:border-neutral-500"></div>
            <div class="inline-flex">
                <SocialShare pageTitle={title} />
            </div>
        </div>
    </div>
</aside>

<style>
    details summary div {
        transition: transform 0.3s ease-in-out;
        width: max-content;
        margin-right: 10px;

    }

  details[open] summary div {
    transform: rotate(90deg);
  }
</style>